osx_image: xcode8.3
language: objective-c
podfile: Example/Podfile
before_install:
- pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/Smock.xcworkspace -scheme Smock-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
